<div class="sidebar">
  <button type="button" (click)="Back()">&lt; Back</button>
  <h1>{{photoService.selectedPhoto.name}}</h1>
  <p>{{photoService.selectedPhoto.width}} x {{photoService.selectedPhoto.height}}</p>
  <p>{{filesize}}</p>
  <p>{{photoService.selectedPhoto.date | date:'H:mm:ss z'}}</p>
  <p>{{photoService.selectedPhoto.date | date:'EEEE d MMMM y'}}</p>
  <p *ngIf="location">{{location.display_name}}</p>
  <h1>{{photoService.selectedPhoto.camera_make}} {{photoService.selectedPhoto.camera_model}}</h1>
  <p>f/{{photoService.selectedPhoto.f_value}}</p>
  <p>1/{{photoService.selectedPhoto.exposure}}</p>
  <p>{{photoService.selectedPhoto.focal_length}}mm</p>
  <p>ISO {{photoService.selectedPhoto.iso}}</p>
  <div class="map" id="map" [style.z_index]="location ? 1 : 0"></div>
</div>

<div class="main" (mousedown)="startDrag($event)" (mouseup)="stopDrag($event)" (mousemove)="drag($event)">
  <div class="draggable" id="dragElement" [style.top.px]="y" [style.left.px]="x" [style.width.px]="width" [style.height.px]="height" [style.cursor]="dragging ? 'grabbing' : 'grab'">
    <img src="{{photoService.selectedPhoto.src}}" id="image">
  </div>
</div>
